# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.Rprofile

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj


# excel files, word-files, pdf-files
*.csv
# *.xls
# *.pdf
*.doc
*.gz

# R data files
# *.rda
# *.RData